.plan{
    background-color: $background-color5;
    &__container{
        padding: 18rem 0;
    }
    &__list{
        @include flexbox(center, space-between);
    }
    &__item{
        @include item(center, $three-item-adjacent, $white-color, 
        0 0 5px $border-color, padding .25s linear);
        position: relative;
        &:hover{
            box-shadow: 0 0 10px $border-color;
        }
    }
    &__item:hover
    .btn{
        background-color: $black-color;
    }
    &__price{
        background-color: $background-color1;
        min-width: 12rem;
        min-height: 12rem;
        border-radius: 50%;
        position: absolute;
        top: 0;
        left: 4rem;
        transform: translateY(-50%);
        text-align: center;
        h4{
            font-size: 2.8rem;
            padding-top: 3.6rem;
        }
        p{
            font-size: 1.4rem;
            padding-top: .8rem;
            color: $border-color;
        }
        &-basic{
            h4{
                color: $basic-pp-color;
            }
        }
        &-advanced{
            h4{
                color: $advanced-pp-color;
            }
        }
        &-life{
            h4{
                color: $life-pp-color;
            }
        }
    }
    &__name{
        font-size: 4rem;
        line-height: 6;
        color: $white-color;
        &-basic{
            background-color: $basic-pp-color;
        }
        &-advanced{
            background-color: $advanced-pp-color;
        }
        &-life{
            background-color: $life-pp-color;
        }
    }
    &__subtitle{
        padding: 3rem 0;
        h4{
            font-size: 2rem;
        }
        p{
            font-size: 1.2rem;
            font-weight: 400;
            opacity: 0.6;
        }
    }
    &__rights{
        font-size: 1.4rem;
        line-height: calc(47/14);
        p{
            border-top: 1px solid $border-color;
        }
        p:nth-child(3),
        p:nth-child(4),
        p:nth-child(5){
            text-decoration: line-through;
            opacity: 0.5;
        }
    }
    &__btn{
        padding: 3rem 0 5rem 0;
    }
}