$background-color1: #2c2e3d;
$background-color2: #ffffff;
$background-color3: #1b1b2b;
$background-color4: #cad3d3;
$background-color5: #ffffff;
$background-color6: #e8edeb;
$background-color7: #3c3a43;
$background-color8: #494b58;
$background-color9: #212331;
$background-color10: #181828;

$primary-color: #00bcd4;
$yellow-color1: #ffcd37;
$yellow-color2: #e1bd4f;
$gray-color: #393d50;
$red-color: #f44336;
$white-color: #ffffff;
$black-color: #000000;
$border-color: #dfe5e8;
$button-gray-color: #b6c6c9;
$dark-gray-color: #313445;
$gray-blue-color: #5f727f;

$background-item-color: #f0f3f2;
$beginner-color: #b0de79;
$advanced-color: #7ee0bf;
$master-color: #83bce9;
$insane-color: #a289e8;

$tiny-color: $primary-color;
$small-color: #a637ec;
$medium-color: #ee417c;
$large-color: #ff994e;

$price-ocean-color: $primary-color;
$price-mountains-color: #6c136f;
$price-forest-color: #86be81;

// Price Plan
$basic-pp-color: $primary-color;
$advanced-pp-color: #1c94ca;
$life-pp-color: #7264bd;


$three-item-adjacent: 33.3333333%;
$four-item-adjacent: 25%;
$three-item: calc(33% - 26.6666667px);
$four-item: calc(25% - 31px);